<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> 밀키트 쇼핑몰 :: Meal Bong </title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../../user/css/mypage.css">
    <link rel="stylesheet" href="../../../common/css/mainPage.css">
    <script defer src="../../../order/js/address.js"></script>
    <script defer src="../../js/main_topDiv.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>
<th:block th:replace="fragments/header :: headerFragement"></th:block>

<main>
    <div class="address_fix_content">
        <div class="address_fix_box">
            <form action="delyUpdate" method="post">
                <h2>배송지 수정</h2>
<!--                <input name="user_id" th:value="${deliveryList[0].user_id}" type="hidden">-->
<!--                <input name="dely_zip" class="fix_zonecode" type="hidden">-->
<!--                <div>-->
<!--                    <input name="dely_address1" class="fix_address1" type="text" readonly>-->
<!--                </div>-->
<!--                <div>-->
<!--                    <div class="fix_address2">나머지 주소</div>-->
<!--                    <input name="dely_address2" type="text" placeholder="나머지 주소를입력해 주세요.">-->
<!--                </div>-->
<!--                <div>-->
<!--                    <div class="fix_name">받으실 분</div>-->
<!--                    <input name="dely_name" type="text" placeholder="이름을 입력해 주세요.">-->
<!--                </div>-->
<!--                <div>-->
<!--                    <div class="fix_call">연락처</div>-->
<!--                    <input name="dely_phone" type="text" placeholder="번호를 입력해 주세요.">-->
<!--                </div>-->
<!--                <div>-->
<!--                    <div class="address_fix_button">-->
<!--                        <button type="submit" class="fix_check">확인</button>-->
<!--                        <button type="reset" class="fix_cancel">취소</button>-->
<!--                    </div>-->
<!--                </div>-->
            </form>
        </div>
    </div>
</main>
<th:block th:replace="fragments/footer :: footerFragment"></th:block>
<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</body>
</html>