<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> 밀키트 쇼핑몰 :: Meal Bong </title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../css/mypage.css">
    <link rel="stylesheet" href="../../css/mainPage.css">
    <script defer src="../../js/main_topDiv.js"></script>

</head>

<body>
    <header>
        <div class="space">
            <a href="../../html/login/account.html">
                지금 가입하고 적립금 <b>10,000원</b> 받아가세요!
            </a>
            <a class="space-close">
                <img src="../../image/closeBtn.png">
            </a>

        </div>
        <ul class="login">
            <li><a href="../../html/login/Terms.html">회원가입</a></li>
            <li><a href="../../html/login/login.html">로그인</a></li>
        </ul>
        <div class="flex-box">
            <a href="#"><img src="../../image/logo4.png" alt="logo" class="logo"></a>
            <form>
                <div class="search">
                    <input type="text" placeholder="검색어를 입력 하세요" required>
                    <button class="button"><img class="button-set" src="../../image/search.png"></button>
                </div>
            </form>
            <div class="cart_heart">
                <a href="../../html/my_page/mypage.html" class="mpage" alt="마이페이지"></a>
                <a href="../../html/login/cart.html" class="cart" alt="장바구니"></a>
                <a href="../../html/my_page/wish.html" class="heart" alt="찜한 상품"></a>
            </div>
        </div>
        <!-- nav / position : sticky -->
    </header>
    <nav>
        <ul class="menu">
            <li><a href="../../html/menu_list/Korean_menulist.html">카테고리</a>
                <ul class="submenu">
                    <li><a href="../../html/menu_list/Korean_menulist.html">한식</a></li>
                    <li><a href="../../html/menu_list/Chinese_menulist.html">중식</a></li>
                    <li><a href="../../html/menu_list/Japanese_menulist.html">일식</a></li>
                    <li><a href="../../html/menu_list/Western_menulist.html">양식</a></li>
                    <li><a href="../../html/menu_list/Bunsik_menulist.html">분식/야식</a></li>
                    <li><a href="../../html/menu_list/Asian_menulist.html">아시안</a></li>
                </ul>
            </li>
            <li><a href="#pop">인기상품</a></li>
            <li><a href="#recommend">오늘의 추천</a></li>
            <li><a href="../../html/service_page/notice.html">고객센터</a>
                <ul class="submenu2">
                    <li><a href="../../html/service_page/notice.html">공지사항</a></li>
                    <li><a href="../../html/service_page/faq.html">자주하는 질문</a></li>
                    <li><a href="../service_page/inquiry/inquiry_list.html">1:1 문의</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <main>
        <div class="mypage">
            <div class="aside">
                <div class="name">
                    <h2>마이페이지</h2>
                </div>
                <ul>
                    <li>
                        <a href="./mypage.html" class="order">주문 내역
                            <span></span>
                        </a>
                    </li>
                    <li>
                        <a href="./review.html" class="review color">상품 후기
                            <span></span>
                        </a>
                    </li>
                    <li>
                        <a href="./wish.html" class="wish">찜한 상품
                            <span></span>
                        </a>
                    </li>
                    <li>
                        <a href="./address.html" class="address">배송지 관리
                            <span></span>
                        </a>
                    </li>
                    <li>
                        <a href="./info.html" class="info">개인정보 수정
                            <span></span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="content">
                <div class="content_1">
                    <div>
                        <h2>후기 쓰기</h2>
                    </div>
                </div>
                <div class="content_reivew_write">
                    <div class="content_reivew_write_item">
                        <div class="image">
                            <a href="#">
                                <img src="../../image/Chinese/마라 탄탄면(2인).jpg" alt="마라 탄탄면(2인)">
                            </a>
                        </div>
                        <div>
                            <div>
                                <span>마라 탄탄면</span>
                            </div>
                        </div>
                    </div>
                    <div class="reivew_write_box">
                        <form>
                            <div class="reivew_write_box_1">
                                <div>제목</div>
                                <div>
                                    <input type="text" class="inputstyle" placeholder=" 제목을 입력해주세요" required>
                                </div>
                            </div>
                            <div class="reivew_write_box_2">
                                <div>후기작성</div>
                                <div>
                                    <textarea placeholder="자세한 후기는 다른 고객의 구매에 많은 도움이 됩니다." required></textarea>
                                </div>
                            </div>
                            <div class="reivew_write_box_3">
                                <div>사진등록</div>
                                <div>
                                    <input type="file">
                                </div>
                            </div>
                            <div class="reivew_write_box_4">
                                <button class="inquriy_list_button" type="button">
                                    <a href="#">등록</a>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <hr>
        <div class="footer">
            <div><a href="../footer/personal.html"><strong>개인정보처리방침</strong></a></div>
            <div><a href="../footer/using.html">이용약관</a></div>
            <div><a href="../service_page/notice.html">공지사항</a></div>
            <div><a href="/html/service_page/inquriy/inquiry_list.html">1:1 문의</a></div>
        </div>

        <pre>
    회사명 : MealBong
    사업자 번호 : 123-45-678910
    대표자 : 박규민
    주소 : 경기도 성남시 분당구 돌마로 46
    연락처 : 031 - 789 - 1234
    E-mail : abcedfg@gmail.com
    Copyright © 2022 MealBong. All rights reserved.
        </pre>
    </footer>
</body>

</html>