<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> 밀키트 쇼핑몰 :: Meal Bong </title>
    <link rel="stylesheet" href="../order/css/cart.css">
    <link rel="stylesheet" href="../common/css/modal.css">
    <link rel="stylesheet" href="../common/css/mainPage.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
    <script src="../common/js/jquery-3.2.1.min.js"></script>
    <script defer src="../order/js/cart.js"></script>
<!--    <script defer src="../common/js/main_topDiv.js"></script>-->
</head>

<body>
<th:block th:replace="fragments/header :: headerFragement"></th:block>
<main>
    <div class="cart_container" id ="result_area">
        <span class="mainspan">장바구니</span>

        <div class="div_a">
            <div class="All_div">
                <button type="button" class="selectAll_box"></button>
                <span class="label_style">전체선택(<span th:text="${count}" class="select_value1">4</span>/<span th:text="${count}" class="select_value2">4</span>)</span>
            </div>
        </div>

        <div class="cart_divbox">
            <div class="cart_div1">
                <th:block th:each="cart_list : ${cart_list}">
                    <div class="div1_sub">
                        <div class="div1_sub_sub">
                            <span class="select_box" data-flag="1"></span>

                            <a th:href="@{/product/{product_number}(product_number=${cart_list.product_number})}" >
                                <img th:src="${cart_list.image_file}" class="div1_a_img1" alt="상품 이미지">
                            </a>
                            <a th:text="${cart_list.product_name}" th:href="@{/product/{product_number}(product_number=${cart_list.product_number})}" class="div1_a2"></a>

                        </div>

                        <div class="btn_addBox" id="cNum_div" th:value="${cart_list.cart_number}">
                            <button type="button" class="btn_minus btn_add" value="cart_minus"></button>
                            <button type="button" th:text="${cart_list.product_count}" class="btn_addSpan">1</button>
                            <button type="button" class="btn_plus btn_add" value="cart_plus"></button>
                        </div>

                        <div class="div1_priceBox">

                            <span th:text="${cart_list.price_total}" class="div1_span">10000</span><span class="div1_span2">원</span>
                            <span th:text="${cart_list.product_price}" class="cart_hidden price_value">10000</span>
                            <span class="close_btn">
<!--                           <a th:href="@{|/order/cart_delete/${cart_list.cart_number}|}" class="c_number"></a>-->
                                <button th:text="${cart_list.cart_number}" class="c_number"></button>
                            </span>


                        </div>

                    </div>

                </th:block>
            </div>
            <div class="cart_div2">


                <div class="cart_subdiv12">
                    <div class="cart_subdiv1">
                        <p class="align_p">배송지</p>
                        <p><span th:text="${dely.dely_address1}"></span><span th:text="${dely.dely_address2}"></span></p>
                        <div class="subdiv1_button"><button type="button" class="subdiv1_a subdiv1_button address_btn"><a href="/address/list" style="width:100%; text-decoration: none;color:white;">배송지 변경</a></button></div>
                    </div>


                    <div class="cart_subdiv2">

                        <div class="subdiv2_box">
                            <span>상품금액</span>
                            <div>
                                <span th:text="${total}" class="total_price2">40000</span><span>원</span>
                            </div>
                        </div>

                        <div class="subdiv2_box2">
                            <span>배송비</span>
                            <div>
                                <span th:text="${fee}" class="del_fee">3000</span><span>원</span>
                            </div>
                        </div>

                        <div class="subdiv2_line"></div>

                        <div class="subdiv2_box3">
                            <span>결제예정금액</span>
                            <div>
                                <span th:text="${total + fee}" class="total_price">43000</span><span>원</span>
                            </div>

                        </div>


                    </div>

                </div>
                <div class="cart_subdiv3">

                        <div class="subdiv3_button"><button type="submit" id="test_btn" class="subdiv1_a subdiv1_button cart_submitBtn">주문하기</button></div>


                </div>

            </div>

        </div>

    </div>

</main>
<!--<button id="test_btn">테스트</button>-->
<form action="/order/order_form" method="get" id="order_form">
    <input id="total_value" th:value="${total + fee}" name="total" type="hidden">
</form>

<!-- footer : 법적 필수 항목 -->
<th:block th:replace="fragments/footer :: footerFragment"></th:block>

    <div class="modal_container hidden">
        <div class="bg"></div>
        <div class="modalBox">
            <p></p>
            <div class="closeBtn_div">
                    <button class="modal_confirm">확인</button>
                    <button class="closeBtn">취소</button>
            </div>
        </div>
    </div>
</body>


</html>