<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- footer : 법적 필수 항목 -->
<footer th:fragment="footerFragment">
    <hr>
    <div class="footer">
        <div><a href="/personal"><strong>개인정보처리방침</strong></a></div>
        <div><a href="/user1/terms">이용약관</a></div>
        <div><a href="/notice/list">공지사항</a></div>
        <div><a href="/qna/qnalist">1:1 문의</a></div>
    </div>

    <pre>
    회사명 : MealBong
    사업자 번호 : 123-45-678910
    대표자 : 박규민
    주소 : 경기도 성남시 분당구 돌마로 46
    연락처 : 031 - 789 - 1234
    E-mail : abcedfg@gmail.com
    Copyright © 2022 MealBong. All rights reserved.
    </pre>
</footer>
</html>