<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> 밀키트 쇼핑몰 :: Meal Bong </title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../../user/css/mypage.css">
    <link rel="stylesheet" href="../../../common/css/mainPage.css">
    <link rel="stylesheet" href="../../../common/css/modal.css">

    <script defer src="../../../board/js/notice.js"></script>
</head>

<body>
<th:block th:replace="fragments/header :: headerFragement"></th:block>

<main>
    <div class="mypage">
        <div class="aside">
            <div class="name">
                <h2>고객센터</h2>
            </div>
            <ul>
                <li>
                    <a href="#" class="notice">공지사항
                        <span></span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/faq/list(faq_code=ALL)}" class="faq">자주하는 질문
                        <span></span>
                    </a>
                </li>
                <li>
                    <a href="/qna/qnalist" class="inquiry">1:1 문의
                        <span></span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="content">
            <div class="content_1">
                <div>
                    <h2>공지사항</h2>
                </div>
            </div>
            <div class="content_notice">
                <div class="notice_Box">
                    <div>번호</div>
                    <div>제목</div>
                    <div>작성자</div>
                    <div>작성일</div>
                </div>
                <div th:each="notice: ${noticeList}">
                    <a th:href="@{/notice/noticeDetail(notice_number=${notice.notice_number})}">
                        <div class="notice_list_Box">
                            <div class="notice_list">
                                <div th:text="${notice.notice_number}"></div>
                                <div th:text="${notice.notice_title}"></div>
                                <div th:text="${notice.notice_name}"></div>
                                <div th:text="${notice.notice_date}"></div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="faqInsertDiv" th:if="${session['user_id']=='admin'}">
                    <a href="noticeInsert" style="color: white;">글 추가</a>
                </div>
                <div class="cri_div">
                    <!-- ** Cri_Paging **
                    1) FirstPage, Prev -->
                    <th:block th:if="${pageMaker.prev && pageMaker.spageNo>1}">
                        <!-- OLD_version -->
                        <a th:href="@{/notice/list(currPage=1,rowsPerPage=8)}"><<</a>&nbsp;&nbsp;
                        <a th:href="@{/notice/list(currPage=${pageMaker.spageNo-1}, rowsPerPage=8)}">&lt;</a>
                    </th:block>
                    <!-- 2) Display PageNo  -->
                    <div th:each="i: ${#numbers.sequence(pageMaker.spageNo, pageMaker.epageNo)}">
                        <div th:if="${i==pageMaker.cri.currPage}" th:text="${i}" class="cri_div_font"></div>
                        <a th:unless="${i==pageMaker.cri.currPage}"
                           th:href="@{/notice/list(currPage=${i}, rowsPerPage=8)}" th:text="${i}">
                        </a>
                    </div>

                    <!-- 3) Next, LastPage -->
                    <th:block th:if="${pageMaker.next && pageMaker.epageNo > 0}">
                        <a th:href="@{/notice/list(currPage=${pageMaker.epageNo+1}, rowsPerPage=8)}"> ></a>&nbsp;&nbsp;
                        <a th:href="@{/notice/list(currPage=${pageMaker.lastPageNo}, rowsPerPage=8)}"> >></a>
                    </th:block>

            </div>
        </div>
    </div>
    </div>
</main>
<th:block th:replace="fragments/footer :: footerFragment"></th:block>

</body>

</html>