* {
    margin : 0;
    padding : 0;
    list-style: none;
    font-family: 'Gowun Dodum', sans-serif;
}

/* =============================class style====================================== */



/* =====================find frame======================== */

.form {
    display : flex;
    flex-direction : column;
    width : 600px;
    margin : 0 auto 148px;

}

.findframe {
    min-width : 1050px;
    margin-top : 50px;
    text-align: center;
}

.formdiv,
.formdiv3 {
    display : flex;
    flex-direction : column;
    text-align : left;
    width : 354px;
    margin : 10px auto 15px;
}
.divspan {
    margin-top : 30px;
    margin-bottom : 20px;
}
.spanstyle {
    font-size : 20px;
    font-weight : bold;
}
.findinput {
width : 330px;
height : 40px; 
padding-left :  20px;
font-weight : 700;
border-radius: 5px;
}

.findinput2 {
height : 40px; 
font-weight : 700;
border-radius: 5px;
width : 100%;
padding-left : 20px;
box-sizing : border-box;
}

.p {
    font-size : 28px;
    font-weight : bold;
    margin-bottom : 25px;
}

.div3 {
    display : flex;
    width : 354px;
}

.div3sub1 {
    flex-grow : 7;
}

.div3sub2 {
    flex-grow : 3;
    display : flex;
    justify-content : flex-end;
    align-items : center;
}
.div3_a:active {
    background-color : gray;
}

.div3_a {
    margin-left : 25px;
    width : 100%;
    height : 35px;
    background-color : white;
    border-radius: 5px;
    font-weight : bold;
    text-decoration : none;
    color : black;
    border : 1px solid;
    display : flex;
    justify-content : center;
    align-items : center;
    cursor : pointer;
      
}

.formdiv_hidden {
    display : none;
}


/* ======================이름=========================== */

.label {

    font-weight : bold;
    margin-bottom : 10px;
}
/* =======================휴대폰========================= */


/* ======================인증================= */

.buttonstyle {
    width : 355px;
    line-height : 50px;
    background-color: rgba(128, 128, 128, 0.317);
    border-radius: 5px;
    /* cursor : pointer; */
    
}
.spanbutton {
    font-size : 14px;
    color : white;
}


.formButton {
    margin-top : 30px;
    border : none;
}

form input {
    border : 1px solid;
}



/* footer ------------ */

footer {
    /* height: 160px; */
    min-width: 1200px;
    margin-top: 70px;
}

.footer {
    display: flex;
    justify-content: flex-start;
    height: 50px;
}

.footer a {
    text-decoration: none;
    color: black;
    font-size: .8em;
}

.footer div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

pre {
    font-size: .8em;
}