<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> 밀키트 쇼핑몰 :: Meal Bong </title>
    <link rel="stylesheet" href="../../css/find.css">
    <link rel="stylesheet" href="../../css/mainPage.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <div class="space">
            <ul class="login">
                <li><a href="Terms.html">회원가입</a></li>
                <li><a href="login.html">로그인</a></li>
                <li class="l_hover"><a href="../service_page/notice.html">고객센터</a>
                    <ul class="hoverbox">
                        <li><a href="../service_page/notice.html">공지사항</a></li>
                        <li><a href="../service_page/faq/faq.html">자주하는 질문</a></li>
                        <li><a href="../service_page/inquiry/inquiry_list.html">1:1 문의</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="flex-box">
            <a href="../../index.html"><img src="../../image/logo4.png" alt="logo" class="logo"></a>
            <form>
                <div class="search">
                    <input type="text" placeholder="검색어를 입력 하세요" required>
                    <button class="button"><img class="button-set" src="../../image/search.png"></button>
                </div>
            </form>
            <div class="cart_heart">
                <a href="../my_page/mypage.html" class="mpage" alt="마이페이지"></a>
                <a href="./cart.html" class="cart" alt="장바구니"></a>
                <a href="../my_page/wish.html" class="heart" alt="찜한 상품"></a>
            </div>
        </div>
        <!-- nav / position : fixed -->
        <nav>
            <ul class="menu">
                <li><a href="../menu_list/Korean_menulist.html">카테고리</a>
                    <ul class="submenu">
                        <li><a href="../menu_list/Korean_menulist.html">한식</a></li>
                        <li><a href="../menu_list/Chinese_menulist.html">중식</a></li>
                        <li><a href="../menu_list/Japanese_menulist.html">일식</a></li>
                        <li><a href="../menu_list/Western_menulist.html">양식</a></li>
                        <li><a href="../menu_list/Bunsik_menulist.html">분식/야식</a></li>
                        <li><a href="../menu_list/Asian_menulist.html">아시안</a></li>
                    </ul>
                </li>
                <li><a href="../../index.html#pop">인기상품</a></li>
                <li><a href="../../index.html#recommend">오늘의 추천</a></li>
                <li><a href="../service_page/notice.html">고객센터</a>
                    <ul class="submenu2">
                        <li><a href="../service_page/notice.html">공지사항</a></li>
                        <li><a href="../service_page/faq/faq.html">자주하는 질문</a></li>
                        <li><a href="../service_page/inquiry/inquiry_list.html">1:1 문의</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>


    <main>
        <div class="findframe">
            <p class="p">아이디 찾기</p>

            <div class="divspan"><span class="spanstyle">휴대폰 인증</span></div>

            <form action="findid_submit.html" class="form">
                <div class="formdiv">
                    <label for="uname" class="label">이름</label>
                    <div class="inputdiv">

                        <input type="text" id="uname" minlength="1" class="findinput" placeholder="test" readonly>
                    </div>
                </div>

                <div class="formdiv">
                    <label for="phone" class="label">휴대폰 번호</label>
                    <div>

                        <input type="tel" id="phone" class="findinput" placeholder="010-1234-5678" minlength="10" readonly>
                    </div>
                </div>

                <div class="formdiv">
                    <label for="phone" class="label">인증번호</label>
                    <div class="div3">
                        <div class="div3sub1">
                            <input type="tel" id="phone" class="findinput2" placeholder="인증번호 7자리" minlength="7" maxlength="7" required>
                        </div>

                        <div class="div3sub2">
                            <a href="../login/findid2.html" class="div3_a">재발송</a>
                        </div>

                    </div>
                </div>

                <div>
                    <button class="buttonstyle formButton">
                        <span class="spanbutton sapnstyle">확인</span>
                    </button>

                </div>

            </form>

        </div>

    </main>

    <!-- footer : 법적 필수 항목 -->
    <footer>
        <hr>
        <div class="footer">
            <div><a href="../footer/personal.html"><strong>개인정보처리방침</strong></a></div>
            <div><a href="../footer/using.html">이용약관</a></div>
            <div><a href="../service_page/notice.html">공지사항</a></div>
            <div><a href="../service_page/inquiry/inquiry_list.html">1:1 문의</a></div>
        </div>

        <pre>
    회사명 : MealBong
    사업자 번호 : 123-45-678910
    대표자 : 박규민
    주소 : 경기도 성남시 분당구 돌마로 46
    연락처 : 031 - 789 - 1234
    E-mail : abcedfg@gmail.com
    Copyright © 2022 MealBong. All rights reserved.
        </pre>
    </footer>
</body>

</html>