<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> 밀키트 쇼핑몰 :: Meal Bong </title>
    <link rel="stylesheet" href="../common/css/modal.css">
    <link rel="stylesheet" href="../common/css/mainPage.css">
    <link rel="stylesheet" href="../user/css/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/219136e9eb.js" crossorigin="anonymous"></script>
    <script src="../common/js/jquery-3.2.1.min.js"></script>
    <script defer src="../user/js/login.js"></script>
    <script defer src="../common/js/main_banner.js"></script>
    <script defer src="../common/js/main_topbutton.js"></script>
    <script defer src="../common/js/main_menu.js"></script>
    <script defer src="../common/js/main_topDiv.js"></script>
    <script defer src="../common/js/main_hover.js"></script>

</head>

<body>
<th:block th:replace="fragments/header :: headerFragement"></th:block>

    <main>

            <input type="text" class="failed_flag hidden" th:value="${failed}">

        <div class="login_frame">
            <div class="login_text">로그인</div>
            <div class="loginForm">
                <form action="/user1/login" class="user_join" method="post" id="login_form" onsubmit="return false">
                    <div class="login_div">
                        <div class="login_id">
                            <input type="text" name="user_id" id="user_id" minlength="4" placeholder="아이디를 입력해주세요" class="login_input input_border" value>

                        </div>
                        <div class="login_pw">
                            <input type="password" name="user_password" id="user_password" minlength="4" placeholder="비밀번호를 입력해주세요" class="login_input input_border">

                        </div>
                    </div>

                    <div class="div_a">
                        <a href="/user1/login" class="a_tag">아이디 찾기</a>
                        <span class="find_span">&#124;</span>
                        <a href="/user1/login" class="a_tag">비밀번호 찾기</a>
                    </div>
                    <button class="login_submit"></button>
                </form>
                    <button class="login_button" type="button">
                          로그인
                    </button>

                <div class="account_button">
                    <a href="/user1/terms" class="button_a">회원가입</a>
            </div>

<!--                <div>-->
<!--                    <p class="p">간편 로그인</p>-->
<!--                    <div class="SocialLogin">-->
<!--                        <a href="https://kauth.kakao.com/oauth/authorize?client_id=e383b53fba9bd1a9729bd3cfeceffd95&redirect_uri=https://fresheasy.co.kr/member/kakaoSyncLogin&response_type=code">-->
<!--                            <img src="../../image/kakaoSyncLogin.png" alt="" class="img">-->
<!--                        </a>-->
<!--                        <a href="https://nid.naver.com/nidlogin.login?mode=form&url=https%3A%2F%2Fwww.naver.com">-->
<!--                            <img src="../../image/naverSocialLogin.png" alt="" class="img">-->
<!--                        </a>-->

<!--                    </div>-->
<!--                </div>-->

            </div>
        </div>

    </main>

<!-- footer : 법적 필수 항목 -->
<th:block th:replace="fragments/footer :: footerFragment"></th:block>
            <div class="modal_container hidden">
                <div class="bg"></div>
                <div class="modalBox">
                    <p>아이디를 입력해주세요.</p>
                    <div class="closeBtn_div">
                        <button class="closeBtn">확인</button>
                    </div>
                </div>
            </div>

</body>

</html>
