<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> 밀키트 쇼핑몰 :: Meal Bong </title>
  <link rel="stylesheet" href="../user/css/login.css">
  <link rel="stylesheet" href="../common/css/mainPage.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
  <script defer src="../../js/main_topDiv.js"></script>

</head>

<body>
<th:block th:replace="fragments/header :: headerFragement"></th:block>

<main>
  <div class="loginframe_account">
    <div class="logintext"></div>
    <div class="loginform_account">
      <form action="/">
        <div class="logindiv">
          <div class="login-id">

            <span>탈퇴 완료 되었습니다.</span>

          </div>

          <div class="login-id">
            <button class="submit_button33">
              메인 화면으로
            </button>

          </div>
      </form>

    </div>
  </div>

</main>

<!-- footer : 법적 필수 항목 -->
<th:block th:replace="fragments/footer :: footerFragment"></th:block>

</body>

</html>