<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 위 코드가 mapper 설정을 하는 코드 -->

<!-- Mapper를 사용하는 Repository의 전체 경로를 적어줘야함. -->
<mapper namespace="com.project.mealbong.delivery.DeliveryMapper">
    <select id="deliveryList" resultType="com.project.mealbong.delivery.DeliveryDTO">
        select *
        from dely
        where user_id = #{user_id};
    </select>


    <select id="deliveryDetail" resultType="com.project.mealbong.delivery.DeliveryDTO">
        select *
        from dely
        where dely_number = #{dely_number};
    </select>

    <delete id="deliveryDelete">
        delete
        from dely
        where dely_number = #{dely_number};
    </delete>

    <insert id="deliveryInsert">
        insert into dely(user_id, dely_zip, dely_address1, dely_address2, dely_name, dely_phone, dely_check)
        values (#{user_id}, #{dely_zip}, #{dely_address1}, #{dely_address2}, #{dely_name}, #{dely_phone}, "N")
    </insert>

    <insert id="newdeliveryInsert">
        insert into dely(user_id, dely_zip, dely_address1, dely_address2, dely_name, dely_phone, dely_check)
        values (#{user_id}, #{dely_zip}, #{dely_address1}, #{dely_address2}, #{dely_name}, #{dely_phone}, "Y")
    </insert>

    <update id="deliveryUpdate">
        update dely
        set dely_address2=#{dely_address2},
            dely_name=#{dely_name},
            dely_phone=#{dely_phone}
        where dely_number = #{dely_number};
    </update>

    <update id="deliveryDefault">
        update dely
        set dely_check = case
                             when dely_number = #{dely_number} then 'Y'
                             else 'N'
            end
        where user_id = #{user_id}
    </update>
</mapper>